amqp==2.1.4
anyjson==0.3.3
appdirs==1.4.3
appnope==0.1.0
asgiref==3.2.10
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
autobahn==19.8.1
Automat==0.7.0
autopep8==1.5.3
Babel==2.4.0
beautifulsoup4==4.9.1
billiard==3.5.0.2
boto==2.46.1
boto3==1.4.4
botocore==1.5.39
cachetools==4.1.1
celery==4.4.6
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
codacy-coverage==1.3.6
colorama==0.4.1
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
coverage==4.3.4
cryptography==2.9.2
decorator==4.0.11
defusedxml==0.6.0
dialogflow==1.0.0
distlib==0.3.1
dj-database-url==0.5.0
Django==2.2.4
django-allauth==0.40.0
django-bootstrap==0.2.4
django-bootstrap-toolkit==2.15.0
django-bootstrap3==14.0.0
django-bootstrap4==2.2.0
django-celery==3.1.17
django-ckeditor==5.2.2
django-cors-headers==1.1.0
django-countries==5.5
django-crispy-forms==1.7.2
django-debug-panel==0.8.3
django-debug-toolbar==1.6
django-extensions==1.6.7
django-filer==1.2.6
django-heroku==0.3.1
django-mptt==0.8.7
django-polymorphic==1.0.2
django-rest-swagger==2.2.0
django-rest-swagger-enhancer==0.0.2
django-ses==0.8.1
django-smtp-ssl==1.0
django-storages==1.5.2
django-tinymce4-lite==1.7.5
django-user-agents==0.3.0
django-webpack-loader==0.4.1
djangorestframework==3.6.3
docutils==0.13.1
easy-thumbnails==2.3
ecdsa==0.15
filelock==3.0.12
flower==0.9.1
future==0.18.2
geographiclib==1.50
geopy==2.0.0
google-api-core==1.21.0
google-auth==1.18.0
googleapis-common-protos==1.52.0
googlemaps==4.4.1
grpcio==1.30.0
gunicorn==19.7.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipython==5.1.0
ipython-genutils==0.1.0
isort==4.3.21
itypes==1.2.0
Jinja2==2.11.2
jmespath==0.9.2
jsmin==2.2.2
kombu==4.0.2
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
oauthlib==3.1.0
olefile==0.44
openapi-codec==1.3.2
packaging==16.8
pep8==1.7.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==7.2.0
prompt-toolkit==1.0.9
protobuf==3.12.2
psycopg2==2.8.5
ptyprocess==0.5.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.19
Pygments==2.2.0
PyHamcrest==1.9.0
pylint==2.3.1
pyparsing==2.1.10
python-dateutil==2.6.0
python-decouple==3.3
python3-openid==3.1.0
pytz==2017.2
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.6
s3transfer==0.1.10
simplegeneric==0.8.1
simplejson==3.10.0
six==1.12.0
soupsieve==2.0.1
sqlparse==0.2.2
stripe==2.37.1
tabulate==0.8.7
toml==0.10.1
tornado==4.2
traitlets==4.3.1
txaio==18.8.1
typed-ast==1.4.0
ua-parser==0.7.1
Unidecode==0.4.20
Unipath==1.1
uritemplate==3.0.0
urllib3==1.25.3
user-agents==1.0.1
uuid==1.30
vine==1.1.3
virtualenv==16.6.1
virtualenvwrapper-win==1.2.5
wcwidth==0.1.7
whitenoise==3.3.0
win-unicode-console==0.5
wrapt==1.11.2
zope.interface==5.1.0
